body {
    font-family: "Georgia";
}

.btn-primary
{
    background-color:rgb(24, 145, 24);
    border-color: rgb(24, 145, 24);
    border-radius:0;
}

#nav a.active
{
    background-color: black !important;
}